.container {
  padding-block: 40px;

  .mainContainer {
    .list {
        
      padding-block: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
