.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 390px;
    max-width: 218px;
    border-radius: 10px;
    padding: 4px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    }
  
    img {
      border-radius: 10px;
      width: 210px;
      height: 310px;
      object-fit: cover; 
      background: #11111156;
    }
  
    .scale {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #1db954; 
      width: 42px;
      height: 42px;
      background: #fff;
      color: #000;
      font-weight: 600;
      font-size: 13px;
      border-radius: 50%;
      position: absolute;
      bottom: 70px;
      left: 6px;
    }
  
    .genres {
      position: absolute;
      bottom: 70px;
      right: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 4px;
      max-width: 120px; 
      text-align: right;
  
      p,
      span {
        background: #da2f68;
        color: white;
        padding: 3px 6px;
        border-radius: 6px;
        font-size: 10px;
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;
      }
    }
  
    .title {
      display: flex;
      flex-direction: column;
      gap: 5px;
  
      h4 {
        font-size: 14px;
        color: #fff;
        font-weight: 500;
      }
  
      p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
      }
    }
  }
  